@model IPagedList<PostListViewModel>

<form class="d-flex" style="width:710px" asp-action="Index" asp-controller="Home">
    <input class="form-control me-2" type="text" placeholder="查询文章" id="SearchKey" name="SearchKey" value="@ViewBag.SearchKey">
    <input hidden id="PageIndex" name="PageIndex" />
    <button type="submit" class="btn btn-search">
        <img class="img-search" src="~/img/search.svg" />
    </button>
</form>
@foreach (var item in Model)
{
    <div class="card mt-40 post-card">
        <div class="card-body ">
            <h4 class="card-title post-title text-left">@item.Title</h4>
            <div class="card-subtitle mb-2 post-info">
                作者<a asp-controller="Author" asp-action="Index" asp-route-id="@item.UserId" class="post-link"> @item.UserName </a>
                | 发表于 @item.DateCreated  | 分区 @item.CategoryName | 类型 @item.PostTypeId.ToString() | 阅读量 @item.Views
            </div>
            <div class="card-text post-content"><p class="post-content-text">@item.ContentString</p></div>
            <div class="display_flex justify-content-between">
                <div>
                    @foreach (var postTagItem in item.PostTagList)
                    {
                        <span class="tag-text">@postTagItem.TagName</span>
                    }
                </div>
                <div>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" class="post-link">阅读全文</a>
                </div>
            </div>
            <input type="hidden" id="post_id" value="@item.PostId" />
        </div>
    </div>
}
@Html.PagedListPager(Model, PageIndex => Url.Action("Index", new { PageIndex = PageIndex, SearchKey = @ViewBag.SearchKey }))