@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a asp-controller="Home" asp-action="Edit">EditPost</a>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.PostId">
                    @post.Title
                </a>
                -
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.PostId">
                    Edit
                </a>
                -
                <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.PostId">
                    Remove
                </a>
            </li>
        }
    </ul>
</div>